@import "styles/misc/reset"
@import "styles/misc/typography"
@import "styles/variables"
@import "styles/grid"
@import "styles/components"

body
  font-family 'Quicksand', sans-serif;

h1
  font-weight lighter
