.post
  text-align center
  margin 2em 0

  h1
    margin 0.1em 0
    cursor pointer
    display inline-block

  img
    width 100%

  p
    margin-top global-margin
    text-align left
    max-width text-width
    margin 0 auto
