.container
  max-width container-width
  margin 0 auto
  width 100%
  position relative

.text-container
  padding 0 global-margin
  max-width text-width

.row
  width 100%
  display inline-block
  padding 0 global-margin
