container-width = 1100px
text-width = 770px
global-margin = 15px

// BREAKPOINTS
desktop = 960px
tablet = 700px
mobile = 480px

// COLORS
// As hex codes */

blue0 = #3284BE  // Main Primary color */
blue1 = #7EB7DF
blue2 = #539ACD
blue3 = #116FB1
blue4 = #085287

purple0 = #A430A4  // Main Secondary color (1) */
purple1 = #D680D6
purple2 = #BB50BB
purple3 = #9A149A
purple4 = #780878

yellow0 = #D6F447  // Main Secondary color (2) */
yellow1 = #EAFB96
yellow2 = #E0F86A
yellow3 = #C2E41E
yellow4 = #96B20B

orange0 = #FCAF4A // Main Complement color */
orange1 = #FFD298
orange2 = #FFC06D
orange3 = #EC931F
orange4 = #B96D0C
