 @font-face
   font-family Quicksand
   font-style normal
   src url(/fonts/Quicksand-Regular.ttf)

 @font-face
   font-family Quicksand
   font-style normal
   font-weight lighter
   src url(/fonts/Quicksand-Light.ttf)

 @font-face
   font-family Quicksand
   font-style normal
   font-weight bold
   src url(/fonts/Quicksand-Bold.ttf)
